body {
    color: #2b283a;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 1.75rem;
}

h2 {
    color: #451c7a;
    font-size: 1.375rem;
    margin-top: 0;
}

h3 {
    font-size: 1.25em;
}

p {
    line-height: 1.5;
}

.subheading {
    display: block;
    font-size: 0.56em;
    color: #d0aaff;
}

.section-two h2 {
    color: inherit;
}

/* ----- LINKS ----- */

a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4.6px;
    margin-bottom: 1em;
    text-align: center;
}

.btn-dark {
    color: whitesmoke;
    background: #5f29a3;
}

.btn-mid {
    color: #5f29a3; 
    background: #f0e0ff; 
}

.btn-light {
    color: #5f29a3; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #2b238a;
    background-color: #f3e885;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 1.25em 0;
}

header, 
.section-two {
    background-color: #5f29a3;
}

.section-two {
    color: whitesmoke;
}


.section-two-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


.feature-item {
    flex: 1 220px;
}


.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.main-image {
    display: block;
    width: 100%;
    max-width: 700px;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
}

.feature-image {
    width: 100%;
    border-radius: 4.6px;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    color: #5f29a3;
}


/* ----- NAVIGATION ----- */



nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.8em 0;
    font-size: 1.125rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}




/* @media(min-width: 548px) {
    .section-two-image-container {
        display: flex;
        justify-content: space-between;
    }
    .feature-image {
        width: 48.8%;
        
    }
} */

@media(max-width: 768px) {
    header {
        text-align: center;
    }
    
    nav {
        margin-top: 1.5em;
    }

    nav a {
        display: block;
    }


    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6;
    }
}

@media(min-width: 768px) {          /*here*/
    header, 
    section, 
    footer {
        padding: 2.875em;
    }

    h1 {
        font-size: 2.25rem; 
    }

    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.125rem;
    }

    .subheading {
        font-size: 1.25rem;
    }

    .btn {
        display: inline-block;
        margin-right: 0.5em;
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;        
    }


    li {
        margin-left: 1em;
    }
}